$main-grid: (
  columns: 12,
  gutter: $gutter,
);

$main-grid-tablet: (
  columns: 6,
  gutter: $gutter/2,
  media: "(max-width: 800px)"
);

$main-grid-mobile: (
  columns: 1,
  gutter: $gutter/3,
  media: "(max-width: 650px)"
);