// --- colors ---
$color-main: #006685;
$txt: #000000;
$grey: #666666;
$grey-light: #efefef;
$grey-dark: #333333;


// --- paths ---
$assets: '/content/themes/<%= themeDir %>/assets/';
$fonts: $assets + 'fonts/';


// --- sizes ---
$width: 1150px;
$gutter: 50px;