.blog-rm {
	@include grid-container;
	margin-bottom: 50px;

	.show-more {
		text-align: center;
		margin-bottom: 80px;

		@include grid-media($main-grid-tablet) {
			margin-bottom: 40px;
		}

		@include grid-media($main-grid-mobile) {
			margin-bottom: 0;
		}
	}
}

.blog-rm-item {
	@include grid-column( 4, $main-grid );
	margin-bottom: 50px;

	@include grid-media($main-grid-tablet) {
		@include grid-column( 4, $main-grid-tablet );
	}

	@include grid-media($main-grid-mobile) {
		@include grid-column( 12, $main-grid-mobile );
	}

	img {
		width: 100%;
		margin-bottom: 16px;
	}

	h3 {
		text-align: center;
	}

	a {
		color: $wdc-color-grey-5;

		&:hover {
			color: $color-primary;
		}
	}
}