.map {

	.mapbox {
		@include grid-column( 12, $main-grid );
		height: 70vh;

		@include grid-media($main-grid-tablet) {
			@include grid-column( 12, $main-grid-tablet );
		}

		@include grid-media($main-grid-mobile) {
			@include grid-column( 12, $main-grid-mobile );
		}
	}
}

.mapboxgl-popup-content {
	padding: 20px;
	font-size: 16px;

	div {
		margin-top: 10px;
	}

	a {
		display: block;
		margin-top: 5px;
		color: $color-primary;
		font-size: 14px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.mapboxgl-popup-close-button {
	font-size: 20px;
    padding: 0 4px 2px 4px;
    color: $wdc-color-grey-3;
    font-weight: 300;
}