<ul class="social navigation">
	<li><a href="https://www.facebook.com/RowerBlogPL/" target="_blank">{{ svg( get_template_directory_uri() ~ '/assets/svg/svg.svg#facebook')|raw }}</a></li>
	<li><a href="https://www.instagram.com/rowerblog/" target="_blank">{{ svg( get_template_directory_uri() ~ '/assets/svg/svg.svg#instagram')|raw }}</a></li>
	<li><a href="https://www.strava.com/athletes/355127" target="_blank" class="strava">{{ svg( get_template_directory_uri() ~ '/assets/svg/svg.svg#strava')|raw }}</a></li>
</ul>