.container {
	@include grid-container;
	max-width: 12 * $column + 13 * $gutter;
	margin: 0 auto $gutter auto;

	@include grid-media($main-grid-tablet) {
		margin-bottom: $gutter-tablet;
	}

	@include grid-media($main-grid-mobile) {
		margin-bottom: $gutter-mobile;
	}

	.single {
		@include grid-column(12, $main-grid);

		@include grid-media($main-grid-tablet) {
			@include grid-column(12);
		}

		@include grid-media($main-grid-mobile) {
			@include grid-column(12);
		}
		
		&.narrow {
			@include grid-shift(3, $main-grid);
			@include grid-column(6, $main-grid);

			@include grid-media($main-grid-tablet) {
				@include grid-shift(1);
				@include grid-column(10);
			}

			@include grid-media($main-grid-mobile) {
				@include grid-shift(0);
			}
		}
	}

	.half {
		@include grid-column(6, $main-grid);

		@include grid-media($main-grid-tablet) {
			@include grid-column(6);
		}

		@include grid-media($main-grid-mobile) {
			@include grid-column(12);
		}

		&.narrow {
			@include grid-column(4, $main-grid);

			@include grid-media($main-grid-tablet) {
				@include grid-column(4);
			}

			@include grid-media($main-grid-mobile) {
				@include grid-column(12);
			}
		}

		&.wide {
			@include grid-column(8, $main-grid);

			@include grid-media($main-grid-tablet) {
				@include grid-column(8);
			}

			@include grid-media($main-grid-mobile) {
				@include grid-column(12);
			}
		}
	}

	.quarter {
		@include grid-column(3, $main-grid);

		@include grid-media($main-grid-tablet) {
			@include grid-column(6);
		}

		@include grid-media($main-grid-mobile) {
			@include grid-column(12);
		}
	}

	.third {
		@include grid-column(4, $main-grid);

		@include grid-media($main-grid-tablet) {
			@include grid-column(4);
		}

		@include grid-media($main-grid-mobile) {
			@include grid-column(12);
		}
	}
}

.subcontainer {
	@include grid-collapse($main-grid);
	@include grid-container;

	@include grid-media($main-grid-tablet) {
		@include grid-collapse($main-grid-tablet);
	}

	@include grid-media($main-grid-mobile) {
		@include grid-collapse($main-grid-mobile);
	}
}