.wp-block-quote {
	@extend .gutenberg-block;
	border-left: 4px solid $wdc-color-grey-5;
	padding: 5px 0 5px 20px;

	p {
		margin-left: 0;
		left: 0;
		width: 100%;
		float: none;
		clear: both;
	}

	cite {
		font-size: 15px;
		color: $wdc-color-grey-3;
	}
}